<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        h1{
            text-shadow:  0px 6px 12px rgba(49, 49, 51, 0.062),0px 3px 7px rgba(46, 44, 44, 0.199), 0px 3px 7px rgba(46, 44, 44, 0.452);
            font-weight:20;
            font-size:45px;
            font-family: fantasy;
            padding:15px;
            margin-bottom:60px;
            color:white;
        }

        #Hnonauth{
            
            
            text-align:center;
        }

        p{
            color:white;
            font-family:cursive;
            font-size:15px;
            font-weight:bold;
            text-shadow:  0px 6px 12px rgba(49, 49, 51, 0.062),0px 3px 7px rgba(46, 44, 44, 0.199), 0px 3px 7px rgba(46, 44, 44, 0.452);
        }

        #premierLi{
            margin-left:0px;
        }

        li { 
            margin-left:25px;
            margin-right:25px;
            display:inline-block;
            padding: 15px;
            border:0px;
            border-radius: 30px;
            background:linear-gradient(to top,#a5d6c4, #30C094);
        }

        a{
            text-shadow:  0px 6px 12px rgba(49, 49, 51, 0.062),0px 3px 7px rgba(46, 44, 44, 0.199), 0px 3px 7px rgba(46, 44, 44, 0.452);
            font-family:cursive;
            color:white;
            text-decoration:none;
        }
        #formulaire{
            margin:50px 500px 0px 500px;
            padding:15px;
            padding-bottom:50px;
            border:0px;
            border-radius: 40px;
            background:linear-gradient(to top,#c3f7e4, #30C094);
        }

        #cadreNonAuth{
            margin:50px 500px 0px 500px;
            padding:15px;
            padding-bottom:50px;
            border:0px;
            border-radius: 40px;
            background:linear-gradient(to top,#c3f7e4, #30C094);
        }
    
        #formulaireConnexion{
            margin:50px 500px 0px 500px;
            padding:15px;
            padding-bottom:50px;
            border:0px;
            border-radius: 40px;
            background:linear-gradient(to top,#c3f7e4, #30C094);
        }
        #retourConnexion{
            text-shadow:  0px 6px 12px rgba(49, 49, 51, 0.062),0px 3px 7px rgba(46, 44, 44, 0.199), 0px 3px 7px rgba(46, 44, 44, 0.452);
            text-transform:capitalize;
            margin:25px;
            font-family:cursive;
            background-color: #30c095;
            border:2px solid white ;
            width:100px;
            padding:5px;
            border-radius: 15px;
            color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            font-size:16px;
        }
        #bouton{
            text-shadow:  0px 6px 12px rgba(49, 49, 51, 0.062),0px 3px 7px rgba(46, 44, 44, 0.199), 0px 3px 7px rgba(46, 44, 44, 0.452);
            text-transform:capitalize;
            margin:25px;
            font-family:cursive;
            background-color: #30c09500;
            border:2px solid white ;
            width:100px;
            padding:5px;
            border-radius: 15px;
            color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            font-size:16px;
        }

        input.mesInputs{
            border-radius:15px;
            border:0px;
            padding:5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }



    </style>
</head>
<body>
    <center><ul>
        <li id="premierLi"><a href="http://localhost:8088/users/inscription">Inscription</a></li>
        <li><a href="http://localhost:8088/users/connexion">Connexion</a></li> <!--affiche formulaire de connexion -->
        <li><a href="http://localhost:8088/birds">Birds</a></li>
        <li><a href="http://localhost:8088/dogs">Dogs</a></li>
        <li><a href="http://localhost:8088/birds/about">About birds</a></li>
        <li><a href="http://localhost:8088/dogs/about">About dogs</a></li>
    </ul></center>


